[submodule "emacs.d/vendor/nxhtml"]
	path = emacs.d/vendor/nxhtml
	url = git://github.com/emacsmirror/nxhtml.git
[submodule "emacs.d/vendor/color-theme-n0tch2k"]
	path = emacs.d/vendor/color-theme-n0tch2k
	url = https://github.com/hans/color-theme-n0tch2k.git
[submodule "emacs.d/vendor/mark-multiple"]
	path = emacs.d/vendor/mark-multiple
	url = https://github.com/magnars/mark-multiple.el.git
[submodule "emacs.d/vendor/hardcore-mode"]
	path = emacs.d/vendor/hardcore-mode
	url = https://github.com/magnars/hardcore-mode.el.git
